@model ProyectoCrud.Models.TOADS

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Eliminar ADS</h4>
            </div>
            <div class="panel-body">
                <div class="alert alert-danger">
                    ¿Desea eliminar el contacto: @Html.DisplayTextFor(m => m.IdADS)  @Html.DisplayTextFor(m => m.IdSolicitudHC)"
                </div>

                <form action="@Url.Action("Eliminar","Contacto")" method="post">
                    <input type="hidden" class="form-control" name="IdContacto" value="@Html.DisplayTextFor(m => m.IdADS)" />

                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a class="btn btn-warning" href="@Url.Action("Inicio","ADS")">Volver</a>
                </form>

            </div>
        </div>


    </div>
</div>
