@model List<ProyectoCrud.Models.TOADS>

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml"; }



<div class="row" style="margin-top:30px">
    <div class="col-sm-12">

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Lista de ADS</h4>
            </div>
            <div class="panel-body">
                <a class="btn btn-success" href="@Url.Action("Registrar","ADS")">Crear Nuevo</a>
                <hr />
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>IdADS</th>
                                <th>SolicitudHC</th>
                                <th>IdPerfilPuesto</th>
                                <th>IdPuesto</th>
                                <th style="width:150px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ProyectoCrud.Models.TOADS item in Model)
                            {
                                <tr>
                                    <td>@item.IdADS</td>
                                    <td>@item.IdSolicitudHC</td>
                                    <td>@item.IdPerfilPuesto</td>
                                    <td>@item.IdPuesto</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="@Url.Action("Editar","ADS", new { IdADS = item.IdADS })">Editar</a>
                                        <a class="btn btn-danger btn-sm" href="@Url.Action("Eliminar","ADS", new { IdADS = item.IdADS })">Eliminar</a>

                                    </td>

                                </tr>
                            }



                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>

